* {
	margin: 0;
	border: none;
	text-decoration: none;
	font-family: arial;
}

body {
	background-color: #fefefe;
}

.navbar {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 3rem;
    width: 100%;
}

.hero-cont {
	height: 40rem;
	width: 100%;
	position: relative;
} #hero-cont1 {
	font-size: 24px;
	height: 28rem;
	width: 33rem;
	position: absolute;
	top: 20%;
	left: 7%
} .contact-btn {
	margin-left: 1rem;
    font-size: 16px;	
	height: 3.5rem;
	width: 15rem;
	background-color: #f2c20a;
	border-radius: 2rem;
} .contact-btn:hover {
    cursor: pointer;
    background-color: #f0d769;
} 
#hero-img {
	width: 35rem;
	height: 38rem;
	margin-top: 3rem;
	margin-left: 41rem;
}

.navigation {
	height: 40rem;
	width: 100%;
	position: relative;
}

.address {
	position: absolute;
	height: 11rem;
	width: 32rem;
	top: 20%;
	left: 7%;
} .address h2 {
	font-size: 5vmin;
} .address i {
	font-size: 57px;
	margin-top: 20px;
	margin-left: 38px;
} #add-bar {
	background-color: #f1f1f1;
	margin-top: 1.7rem;
	height: 115px;
} #add-ico {
	display: flex;
	align-items: center;
} #add-ico p {
	margin-top: 30px;
	margin-left: 1rem;
	font-size: 20px;
}

.tel {
	position: absolute;
	height: 11rem;
	width: 32rem;
	top: 52%;
	left: 7%;
} .tel h2 {
	font-size: 5vmin;
} .tel i {
	font-size: 57px;
	margin-top: 20px;
	margin-left: 38px;
} #tel-bar {
	background-color: #f1f1f1;
	margin-top: 1.7rem;
	height: 185px;
} #tel-ico1 {
	display: flex;
	align-items: center;
} .tel p {
	margin-top: 30px;
	margin-left: 1rem;
	font-size: 20px;
} #tel-ico2 {
	display: flex;
	align-items: center;
} #tel-ico2 i {
	margin-left: 45px;
}

.map {
	position: absolute;
	height: 11rem;
	width: 32rem;
	top: 20%;
	right: 7%;
} .map h2 {
	font-size: 5vmin;
} #map-img {
	margin-top: 1.7rem;
}

.brand {
	background-color: #f1f1f1;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 5rem;
	height: 15rem;
	width: 100%;
}

.detail {
	position: relative;
	height: 35rem;
	width: 100%;
} #det1 {
	position: absolute;
	height: 24rem;
	width: 39rem;
	top: 18%;
	left: 7%;
} #det1 h1 {
	height: 100px;
	font-size: 7.5vmin;
} #det1 p {
	font-size: 17px;
} .label {
	font-size: 15px;
	margin-left: 5px;
	background-color: #f1f1f1;
	height: 43px;
	width: 98%;
} .btn {
	font-size: 1rem;
	font-weight: bolder;
	margin-left: 5px;
	height: 42px;
	width: 120px;
	background-color: #f2c20a;
} .btn:hover {
    cursor: pointer;
    background-color: #f0d769;
}

#det2 {
	position: absolute;
	height: 12rem;
	width: 21rem;
	top: 38%;
	right: 8%;
	font-size: 16px;
} #det2-ico {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	height: 40px;
	gap: 1rem;
} #det2-ico i {
	color: #ebc92c;
	font-size: 5.5vmin;
}